Source: xscript
Priority: optional
Maintainer: Oleg Obolenskiy <highpower@yandex-team.ru>
Build-Depends: debhelper (>= 4.0.0), automake1.9, autotools-dev, pkg-config, libboost-dev, libboost-thread-dev, libboost-filesystem-dev, libboost-python-dev, libcurl3-dev, libfcgi-dev, libcppunit-dev, libxml2-dev, libxslt1-dev, libtool, libssl-dev, liblua5.1-0-dev, memcached, autoconf-extra-archive
Standards-Version: 3.6.1
Section: libs

Package: libxscript
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: XScript is xml-based application server written in C++. 
 This is the core package.

Package: libxscript-dev
Section: libdevel
Architecture: any
Depends: libxscript (=${Source-Version}), libboost-thread-dev, libxml2-dev, libxslt1-dev, libcurl3-dev
Description: Xscript is xml-based application server. 
 Headers and libraries to develop XScript extensions.

Package: xscript-development
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libxscript (=${Source-Version})
Description: XScript is xml-based application server written in C++. 
 Xscript development module.

Package: xscript-standard
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libxscript (=${Source-Version})
Description: XScript is xml-based application server written in C++. 
 Standard modules such as logger, thread pool and various blocks.

Package: xscript-daemon
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libxscript (=${Source-Version})
Description: XScript is xml-based application server written in C++. 
 Binary that runs as factcgi-daemon.

Package: xscript-utility
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libxscript (=${Source-Version})
Description: XScript is xml-based application server written in C++. 
 XScript offline processor.

Package: xscript-utility-dev
Section: libdevel
Architecture: any
Depends: libxscript (=${Source-Version})
Description: Xscript is xml-based application server. 
 Headers and libraries to develop oflline XScript extensions.
 
Package: libxscript-python
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libxscript (=${Source-Version})
Description: XScript is xml-based application server written in C++. 
 Python binding to XScript.
